body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  color: #6A3793;
  padding-bottom: 150px;
}
h1,
h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
hr {
  margin: 10px 0;
  height: 30px;
  border: none;
  background-image: url('/assets/hr.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 30px;
}
a, a:active, a:hover, a:visited {
  color: #6A3793;
}
.header {
  padding-top: 40px;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  line-height: 18px;
}
.header big {
  font-size: 25px;
}
.header small {
  font-size: 12px;
}